.title{
  text-align: center;
  padding-top: 1em;
  margin-bottom: 0rem;
}

.div-left {
  float:left;
  padding-left:10px;
}

.div-right {
  float:right;
  padding-right:10px;
  padding-bottom: 10px;
}

.cart li {
  list-style-type: none;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em .5em .5em -1.75em;
  padding: 0   0    .3em  0;
  border-radius: 4px;
  float: left;
}

.cart li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
