<div class="row" style="text-align: justify;">
  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light view overlay zoom" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../../../assets/login_flower.png" class="img-fluid" alt="Login"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!-- Card content -->
    <mdb-card-body>
      <!-- Title -->
      <mdb-card-title>
        <h4>Login</h4>
      </mdb-card-title>
      <!-- Login Form -->
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm" novalidate>
        <!-- User -->
        <div class="form-group">
          <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          <input mdbInput type="text" class="form-control" name="user"
                 [(ngModel)]="form.user" required minlength="4" maxlength="32"
                 #user="ngModel" id="user">
          <label for="user">Username or email</label>

          <div class="alert alert-danger" role="alert"
               *ngIf="f.submitted && user.invalid">
            User is required!
          </div>
        </div>
        <!-- Password -->
        <div class="form-group">
          <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
          <input mdbInput type="password" class="form-control" name="password"
                 [(ngModel)]="form.password" required minlength="5" maxlength="32"
                 #password="ngModel" id="password">
          <label for="password">Type your password</label>

          <div class="alert alert-danger" role="alert"
               *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 5 characters
            </div>
          </div>
        </div>

        <!-- Log In -->
        <div class="form-group">
          <!-- Normal -->
          <button mdbBtn type="submit" class="btn btn-primary btn-block"
                  mdbWavesEffect color="primary" >
            Log In
          </button>
          <!-- Google -->
          <button mdbBtn type="submit" class="btn btn-primary btn-block"
                  mdbWavesEffect color="primary">
            <mdb-icon fab icon="google" class="mr-1"></mdb-icon> Log In using Google
          </button>
        </div>

        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>

    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
</div>
