<div class="row" style="text-align: justify;">
  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light view overlay zoom" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../../../assets/login_flower.png" class="img-fluid" alt="Login"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!-- Card content -->
    <mdb-card-body>
      <!-- Title -->
      <mdb-card-title>
        <h4>Login</h4>
      </mdb-card-title>
      <!-- Login Form -->
      <form>
        <!-- User -->
        <div class="md-form">
          <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          <input mdbInput minLength="4" maxLength="32" type="text"
                class="form-control" id="form9">
          <label for="form9">Type your username or email</label>
        </div>
        <!-- Password -->
        <div class="md-form">
          <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
          <input mdbInput minLength="8" maxLength="32" type="password"
                class="form-control" id="form10">
          <label for="form10">Type your password</label>
        </div>
        <!-- Normal Login -->
        <button mdbBtn type="button" color="primary" mdbWavesEffect>
          Login
        </button>
        <!-- Google Login -->
        <button mdbBtn type="button" color="primary" mdbWavesEffect>
          <mdb-icon fab icon="google" class="mr-1"></mdb-icon> Login with Google
        </button>
      </form>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
</div>
