<h2 style="font-weight: bold;">
  Taking care of your plants has never been so easy.
</h2>
<h4 style="font-style: italic;">
  Measure, improve, blossom.
</h4>
<h5>
  We are Rainforest, a startup focused on plant care and the well-being of
  them. In order to help gardening enthusiasts who do not have a not enough
  time for optimal taking care of their plants, we recommend you our finest
  product:

  ECO an IOT device with Alexa virtual assistant integration that controls the
  abiotic factors that affect the well-being of plants in order to provide all
  what your plant needs and even more.
</h5>
