# Moment  Who  Command
@reboot /duckdns/duck.sh

# Minute   Hour  Day of Month       Month           Day of Week    Who   Command
# (0-59)  (0-23)   (1-31)     (1-12 or Jan-Dec)  (0-6 or Sun-Sat)  root  /my/fancy/script.sh 
*/5 * * * * /duckns/duck.sh >/dev/null 2>&1
#*/5 * * * * root /duckdns/duck.sh

