.products {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.products li {
  cursor: pointer;
  position: relative;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
  width: 15em;
  float: left;
}

.products li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
