<div class="list row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor = "let product of products; let i = index"
      [class.active] = "i == currentIndex"
      (click) = "setActiveProduct(product, i)"
      >
        {{ product.name}
      </li>
    </ul>
  </div>

  <div class="col">
    <div *ngIf="currentProduct">
      <h4> Product </h4>
      <div>
        <label> <strong> Name: </strong> </label>
        {{ currentProduct.name}}
      </div>
      <div>
        <label> <strong> Description: </strong> </label>
        {{ currentProduct.description}
      </div>
      <div>
        <label> <strong> Status: </strong> </label>
        {{ currentProduct.available ? "Available" : "Yes"}}
      </div>
    </div>
  </div>
</div>
